
dragon_app/.vs/dragon_app/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm

dragon_app/.vs/dragon_app/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal

dragon_app/.vs/dragon_app/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm

dragon_app/.vs/dragon_app/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal

dragon_app/.vs/dragon_app/FileContentIndex/7884c16d-c74e-4f3e-836e-fb959a07bc95.vsidx
